<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sangin/findPwByEmailForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="find_text">비밀번호 찾기</div>
<div id="section_find">
    <div id="section1">
        <div id="section1_box1">
            <a href="/view/findPwByPhoneForm">
                휴대폰 번호로 찾기
            </a>
        </div>
        <div id="section1_box2">
                이메일 주소로 찾기
        </div>
    </div>
    <div id="section2">
        <div id="index_text">
            회원정보에 등록된 정보로 비밀번호를 찾을 수 있습니다.
        </div>
        <div id="section2_container">
            <div class="section2_input_box">
                <div>아이디</div>
                <input type="text" name="name">
            </div>
            <div class="section2_input_box">
                <div>이름</div>
                <input type="text" name="name">
            </div>
            <div class="section2_input_box">
                <div>생년월일</div>
                <input type="text" name="name">
            </div>
            <div class="section2_input_box">
                <div>이메일 번호</div>
                <input type="text" name="name">
                <button id="auth_number_send_btn">인증번호 발송</button>
            </div>
            <div class="section2_input_box">
                <div>인증번호</div>
                <input type="text" name="name">
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <button id="authenticationCheck_btn">인증확인</button>
        </div>
    </div>
</div>
<div style="width: 1000px; display: flex; justify-content: center;">
    <span id="toHome">홈으로</span>
</div>
</body>
</html>