<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>개인정보 조회</title>
    <link rel="stylesheet" href="/css/sangin/myPageAside.css">
    <link rel="stylesheet" href="/css/sangin/myPage_infoForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/sangin/myPage_infoModifyForm.js"></script>
    <script src="/js/sangin/myPage_aside.js"></script>
</head>
<body>
<!-- aside (사용 버전) -->
<th:block layout:fragment="aside">
    <!--<aside> 태그는 *꼭* 남겨두시고 안에서 작업하시면 됩니다 // 절대 지우시면 안돼요-->
    <aside>
        <div id="aside_section1">
            <div id="aside_img">
                <img th:src="@{/images/test.webp}" id="aside_img_img">
                <i class="fa-solid fa-pen-to-square" id="aside_img_btn"></i>
            </div>
            <div id="aside_name">&nbsp;</div>
            <div id="aside_infos">
                <div class="aside_info">
                    <div>수강생수</div>
                    <div>-</div>
                </div>
                <div class="aside_info">
                    <div>잘생김수</div>
                    <div>-</div>
                </div>
                <div class="aside_info">
                    <div>뭐적지수</div>
                    <div>-</div>
                </div>
            </div>
        </div>
        <div id="aside_section2">
            <ul id="aside_menu_list">
                <li><a href="/view/mypage/infoForm" style="color: black; font-weight: bold;">개인정보 조회</a></li>
                <li><a href="/view/mypage/writtenBoardForm">작성한 게시글</a></li>
                <li><a href="/view/mypage/writtenCommentForm">작성한 댓글</a></li>
                <li><a href="/view/mypage/writtenReviewForm">작성한 수강평</a></li>
                <li><a href="/view/mypage/purchaseHistoryForm">구매 내역</a></li>
                <li><a href="/view/mypage/refundHistoryForm">환불 기록</a></li>
            </ul>
        </div>
    </aside>
</th:block>

<!-- content -->
<div layout:fragment="content">
    <!--스타일은 크기를 보여주기 위함입니다 지우시고 작업하시면 됩니다-->
    <!--여기서부터-->
    <div id="content_container">
        <div id="first_text">개인정보 수정</div>
        <div id="content_index_text1">기본정보</div>
        <div id="content_section1">
            <div id="content_name">
                <div class="column">이름</div>
                <div class="value"></div>
            </div>
            <div id="content_birth">
                <div class="column">생년월일</div>
                <div class="value"></div>
            </div>
            <div id="content_gender">
                <div class="column">성별</div>
                <div class="value"></div>
            </div>
        </div>
        <div id="content_index_text2">
            연락처 정보
        </div>
        <div id="content_section2">
            <div id="content_phone">
                <div class="column">휴대폰</div>
                <input type="text" name="phoneNumber" class="value" minlength="11" maxlength="11"></input>
            </div>
            <div id="content_email">
                <div class="column">이메일</div>
                <input type="text" name="email" class="value"></input>

            </div>
        </div>
        <div id="modify_box">
            <button id="modify_btn">확인</button>
            <a href="/view/mypage/infoForm" id="back_btn">취소</a>
        </div>

    </div>
    <!--여기까지 지우시면 됩니다-->
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script>
        <!--스크립트 여기 안에서 작성하시면 돼요~-->
    </script>
</div>
</html>
