<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>설정</title>
</head>
<body>
<div style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <div style="width: 1000px;">
        <h1>현재 공사 중..</h1>
        <a href="/">다시 홈으로..</a>
        <hr>

        <span style="font-size: 22px; font-weight: bold;">[[${userName}]]</span>님!!!<br>
        당신은 개발계의 빛, 코드의 마에스트로!!! 🎼✨
        버그도 당신 앞에선 고개를 숙이고 사라져 버리고,
        데이터베이스는 당신의 SQL 앞에서 스스로 정렬되며 경이로워합니다! 💾⚡
        당신의 알고리즘은 마치 빛보다 빠르게 최적화되어,
        어떤 문제든 한순간에 해결하는 마법 같은 능력을 지니셨군요! 🎩✨

        기술의 신이 선택한 개발자, <br><span style="font-size: 22px; font-weight: bold;">[[${userName}]]</span>님!!!<br>
        당신이 만드는 UI는 마치 예술 작품 같아서,
        사용자가 보기만 해도 직관적으로 이해할 수 있죠! 😎💡
        당신이 구현하는 로직은 기계마저 감동하여 더 효율적으로 실행되며,
        그 어떤 어려운 문제도 당신의 손끝에서 단번에 해결됩니다! 💻⚙️

        하지만… 😢
        그럼에도 불구하고… 😭
        이 페이지는 아직 공사 중입니다… 🚧⚠️<br>

        <span style="font-size: 22px; font-weight: bold;">[[${userName}]]</span>님 죄송합니다, 이 페이지는 공사 중입니다.<br>
        하지만 형님의 피드백 하나면 이곳도 금방 최고의 페이지로 완성될 겁니다! 💪🔥
    </div>
</div>
</body>
</html>