<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.greenlast.dao.kwanhyun.CommunityDao">
    <insert id="regCommunityPost" parameterType="com.example.greenlast.dto.CommunityPostDTO">
        INSERT INTO community_post
        (class_id, user_id, title, content, category)
        VALUES
        (#{classId}, #{userId}, #{title}, #{content}, #{category})
    </insert>

    <select id="getCommunityPost">
        SELECT * FROM community_post
        WHERE post_id = #{postId}
    </select>

    <update id="updateCommunityPost" parameterType="com.example.greenlast.dto.CommunityPostDTO">
        UPDATE community_post
        SET title = #{title},
        content = #{content}
        WHERE post_id = #{postId}
    </update>

    <delete id="deleteCommunityPost">
        DELETE FROM community_post WHERE post_id = #{postId}
    </delete>

    <select id="getCommunityNoticeList" resultType="com.example.greenlast.dto.CommunityPostDTO">
        SELECT cp.post_id, cp.class_id, u.name as userId, cp.title, cp.content, DATE(cp.created_at) as createdAt, cp.category, cp.views
        FROM community_post cp JOIN user u
        ON cp.user_id = u.user_id
        WHERE category = 'N'
        ORDER BY post_id DESC
        LIMIT 5
    </select>

    <select id="getCommunityPostList" resultType="com.example.greenlast.dto.CommunityPostDTO">
        SELECT cp.post_id, cp.class_id, u.name as userId, cp.title, cp.content, DATE(cp.created_at) as createdAt, cp.category, cp.views
        FROM community_post cp
        JOIN user u ON cp.user_id = u.user_id
        <if test="pageType != null and pageType != ''">
            AND cp.category =
            <choose>
                <when test="pageType == 'free'"> 'U' </when>
                <when test="pageType == 'qna'"> 'Q' </when>
                <when test="pageType == 'faq'"> 'F' </when>
                <when test="pageType == 'class'"> 'C' </when>
                <otherwise> 'U' </otherwise>
            </choose>
        </if>

        <if test="search == 'title'">
            AND cp.title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="search == 'content'">
            AND cp.content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="search == 'writer'">
            AND u.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="search == 'all'">
            AND (cp.title LIKE CONCAT('%', #{keyword}, '%')
            OR cp.content LIKE CONCAT('%', #{keyword}, '%')
            OR u.name LIKE CONCAT('%', #{keyword}, '%'))
        </if>

        ORDER BY cp.post_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <update id="viewCounter">
        UPDATE community_post SET
        views = views + 1
        WHERE post_id = #{postId}
    </update>

    <select id="getTotalPostCount" resultType="int">
        SELECT COUNT(*)
        FROM community_post cp
        JOIN user u ON cp.user_id = u.user_id
        <if test="pageType != null and pageType != ''">
            AND cp.category =
            <choose>
                <when test="pageType == 'free'"> 'U' </when>
                <when test="pageType == 'qna'"> 'Q' </when>
                <when test="pageType == 'faq'"> 'F' </when>
                <when test="pageType == 'class'"> 'C' </when>
                <otherwise> 'U' </otherwise>
            </choose>
        </if>

        <if test="search != null and keyword != null">
            <if test="search == 'title'">
                AND cp.title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="search == 'content'">
                AND cp.content LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="search == 'writer'">
                AND u.name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="search == 'all'">
                AND (cp.title LIKE CONCAT('%', #{keyword}, '%')
                OR cp.content LIKE CONCAT('%', #{keyword}, '%')
                OR u.name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </if>
    </select>

</mapper>