<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.greenlast.dao.dongha.IAdminDao">
    <select id="findDailyUser" resultType="com.example.greenlast.dto.DailyUserDTO">
        SELECT
        DATE(created_at) AS date,
        COUNT(user_id) AS count
        FROM user
        GROUP BY DATE(created_at)
        ORDER BY DATE(created_at) ASC
    </select>

    <select id="findAgeGroup" resultType="com.example.greenlast.dto.AgeGroupDTO">
        SELECT
        CASE
        WHEN (YEAR(CURRENT_DATE) - (birth DIV 10000)) &lt; 20 THEN 'Under 20'
        WHEN (YEAR(CURRENT_DATE) - (birth DIV 10000)) BETWEEN 20 AND 29 THEN '20-29'
        WHEN (YEAR(CURRENT_DATE) - (birth DIV 10000)) BETWEEN 30 AND 39 THEN '30-39'
        WHEN (YEAR(CURRENT_DATE) - (birth DIV 10000)) BETWEEN 40 AND 49 THEN '40-49'
        ELSE '50+'
        END AS ageGroup,
        COUNT(user_id) AS count
        FROM user
        GROUP BY ageGroup
    </select>

    <select id="findGender" resultType="com.example.greenlast.dto.GenderDTO">
        SELECT gender, COUNT(user_id) AS count FROM user GROUP BY gender ORDER BY gender DESC
    </select>
</mapper>
