<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.greenlast.dao.dongha.ICartDao">
    <insert id="addToCart">
        INSERT INTO cart (user_id, class_id, quantity)
        VALUES (#{userId}, #{classId}, 1)
    </insert>

    <select id="getCartItems" resultType="com.example.greenlast.dto.CartDTO">
        SELECT c.cart_id, c.user_id, c.class_id, c.quantity, c.created_at,
        cl.classTitle AS classTitle, cl.classPrice AS classPrice
        FROM cart c
        JOIN class cl ON c.class_id = cl.class_id
        WHERE c.user_id = #{userId};
    </select>

    <delete id="removeFromCart">
        DELETE FROM cart WHERE cart_id = #{cartId};
    </delete>
</mapper>
