<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.greenlast.dao.dongha.IClassMainDao">
    <select id="findClassMain" resultType="com.example.greenlast.dto.ClassMainDTO">
    SELECT
    f.file_url AS thumbNail,
    c.user_id AS userId,
    c.class_title AS classTitle,
    c.class_price AS classPrice
    FROM class c
    LEFT JOIN file f ON c.class_id = f.file_ref_no
    </select>
</mapper>
