<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.greenlast.dao.dongha.IClassMainDao">
    <!--비키워드용-->
    <select id="findClassMain" resultType="com.example.greenlast.dto.ClassMainDTO">
        SELECT
        c.class_id AS classId,
        f.file_url AS fileUrl,
        c.user_id AS userId,
        c.class_title AS classTitle,
        c.class_price AS classPrice
        FROM class c
        LEFT JOIN file f ON c.file_no = f.file_no
    </select>
    <!--키워드용-->
    <select id="findClassMainByKeyword" resultType="com.example.greenlast.dto.ClassMainDTO">
        SELECT
        c.class_id AS classId,
        f.file_url AS fileUrl,
        c.user_id AS userId,
        c.class_title AS classTitle,
        c.class_price AS classPrice
        FROM class c
        LEFT JOIN file f ON c.file_no = f.file_no
        WHERE c.class_title LIKE CONCAT('%', #{keyword}, '%')
        OR c.class_price LIKE CONCAT('%', #{keyword}, '%')
        OR c.class_category LIKE CONCAT('%', #{keyword}, '%')
        OR c.user_id LIKE CONCAT('%', #{keyword}, '%')
        OR c.class_level LIKE CONCAT('%', #{keyword}, '%');
    </select>

    <select id="findClassDetail" parameterType="java.lang.Long" resultType="com.example.greenlast.dto.ClassDetailDTO">
        SELECT
        c.class_id AS classId,
        c.class_title AS title,
        u.name AS instructor,  -- ✅ user 테이블에서 name 가져오기
        c.class_price AS price,
        f.file_url AS fileUrl,
        c.description AS description,
        c.class_capsule AS classCapsule,
        c.class_subtitle AS classSubtitle,
        c.class_category AS classCategory,
        c.class_recom AS classRecom,
        c.class_level AS classLevel,
        -- ✅ 수강생 수 카운트 (환불 안 한 사람만)
        (SELECT COUNT(*)
        FROM user_payment_history uph
        WHERE uph.class_id = c.class_id
        AND uph.refund_status = 'y') AS studentCount
        FROM class c
        LEFT JOIN file f ON c.file_no = f.file_no
        LEFT JOIN user u ON c.user_id = u.user_id  -- ✅ user 테이블과 JOIN
        WHERE c.class_id = #{id}
    </select>



    <select id="getClassTitleById" resultType="String">
        SELECT class_title
        FROM class
        WHERE class_id = #{classId}
    </select>
</mapper>
