<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.greenlast.dao.dongha.IClassMainDao">
    <!--비키워드용-->
    <!-- 기본 조회 -->
    <select id="findClassMain" resultType="com.example.greenlast.dto.ClassMainDTO">
        SELECT
        c.class_id AS classId,
        f.file_url AS fileUrl,
        u.name AS userId,
        c.class_title AS classTitle,
        c.class_price AS classPrice
        FROM class c
        LEFT JOIN file f ON c.file_no = f.file_no
        INNER JOIN user u ON c.user_id = u.user_id
        WHERE c.class_permit = 'Y';
    </select>

    <!-- 키워드 검색 -->
    <select id="findClassMainByKeyword" resultType="com.example.greenlast.dto.ClassMainDTO">
        SELECT
        c.class_id AS classId,
        f.file_url AS fileUrl,
        u.name AS userId,
        c.class_title AS classTitle,
        c.class_price AS classPrice
        FROM class c
        LEFT JOIN file f ON c.file_no = f.file_no
        INNER JOIN user u ON c.user_id = u.user_id
        WHERE (c.class_title LIKE CONCAT('%', #{keyword}, '%')
        OR c.class_price LIKE CONCAT('%', #{keyword}, '%')
        OR c.class_category LIKE CONCAT('%', #{keyword}, '%')
        OR u.name LIKE CONCAT('%', #{keyword}, '%')
        OR c.class_level LIKE CONCAT('%', #{keyword}, '%'))
        AND c.class_permit = 'Y';
    </select>


    <select id="findClassDetail" parameterType="java.lang.Long" resultType="com.example.greenlast.dto.ClassDetailDTO">
        SELECT
        c.class_id AS classId,
        c.class_title AS title,
        u.name AS instructor,
        c.class_price AS price,
        f.file_url AS fileUrl,
        c.description AS description,
        c.class_category AS classCategory,
        c.class_recom AS classRecom,
        c.class_level AS classLevel,
        COALESCE(up.user_count, 0) AS studentCount
        FROM class c
        LEFT JOIN file f ON c.file_no = f.file_no
        INNER JOIN user u ON c.user_id = u.user_id
        LEFT JOIN (
        SELECT class_id, COUNT(DISTINCT user_id) AS user_count
        FROM user_payment_history
        GROUP BY class_id
        ) up ON c.class_id = up.class_id
        WHERE c.class_id = #{id};

    </select>

    <select id="getClassTitleById" resultType="String">
        SELECT class_title
        FROM class
        WHERE class_id = #{classId}
    </select>

    <select id="selectAllClasses" resultType="com.example.greenlast.dto.ClassDetailDTO">
        SELECT * FROM class
    </select>

    <select id="selectClassesByCategory" parameterType="String" resultType="com.example.greenlast.dto.ClassDetailDTO">
        SELECT * FROM class
        WHERE class_category = #{category}
    </select>

</mapper>
