<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div id="header_container">
        <div id="header_left">
            <a href="/">Google</a>
        </div>
        <div id="header_center">
            <input type="text" id="header_search">
            <div id="header_btn"><i class="fa-solid fa-magnifying-glass"></i>검색</div>
        </div>
        <div id="header_right">
            <div class="header_icon"><i class="fa-solid fa-cart-shopping"></i></div>


            <!--관현이형 여기부터-->
            <div class="header_icon"><i class="fa-solid fa-bell" id="header_bell"></i>
                <div id="header_bell_detail">
                    <div id="header_bell_section1">
                        <!--뽀대용 텍스트-->
                        알림 목록!
                    </div>

                    <div id="header_bell_section2">
                        <!--알림 목록-->
                        <span>예시 데이터 입니다</span>
                        <span>gap : 15px</span>
                        <span>font size : 14px</span>
                        <span>color: #2c2c2c</span>
                        <span>padding : 15px</span>
                        <span>background color : #efefef</span>
                    </div>
                    <div id="header_bell_section3">
                        <!--알림 센터 링크-->
                        <a href="/view/알림센터">더 많은 알람보기(링크 넣어요~)</a>
                    </div>
                </div>
            </div>
            <!--관현이형 여기까지-->


            <div class="header_icon"><i class="fa-solid fa-user" id="header_profile_icon"></i>
                <div id="header_profile_detail">
                    <div id="header_profile_detail_section1">
                        <img id="header_profile_img">
                        <div style="display: flex; flex-direction: column;">
                            <a href="/view/mypage/infoForm"><i class="fa fa-home"></i>&nbsp;<span
                                    style="font-weight: bold;vertical-align: top;" id="header_profile_name">Guest</span></a>
                            <a href="/view/지식공유방" style="color: blueviolet; font-weight: bold;">지식공유방(링크)</a>
                        </div>
                    </div>
                    <div id="header_profile_detail_section2">
                        <div><i class="fa fa-shopping-cart"></i><a href="/view/구매내역">구매내역(링크)</a></div>
                        <div><i class="fa-solid fa-heart"></i><a href="/view/좋아요">좋아요(링크)</a></div>
                        <div><i class="fa-solid fa-gear"></i><a href="/view/설정">설정(링크)</a></div>
                    </div>
                    <div id="header_profile_detail_section3">
                        <div th:if="${user != null}">
                            <a href="/logout">로그아웃</a>
                        </div>
                        <div th:if="${user == null}">
                            <a href="/view/loginForm">로그인</a>
                        </div>

                        <a href="/view/고객센터">고객센터(링크)</a>
                    </div>
                </div>
            </div>
        </div>
</header>
</html>