<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div id="header_container">
        <div id="header_left">
            <a href="/">Google</a>
        </div>
        <div id="header_center">
            <input type="text" id="header_search">
            <div id="header_btn"><i class="fa-solid fa-magnifying-glass"></i>검색</div>
        </div>
        <div id="header_right">
            <div class="header_icon"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="header_icon"><i class="fa-solid fa-bell"></i></div>
            <div class="header_icon"><i class="fa-regular fa-user"></i></div>
        </div>
    </div>
</header>
</html>