<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav">
    <div id="nav_container">
        <div id="nav_left"></div>
        <div id="nav_center">
            <div class="nav_menu"><i class="fa-solid fa-play-circle"></i>&nbsp;강의</div>
            <div class="nav_menu"><i class="fa-regular fa-calendar"></i>&nbsp;일정표</div>
            <div class="nav_menu"><i class="fa-solid fa-users"></i>&nbsp;커뮤니티</div>
            <div class="nav_menu"><i class="fa-solid fa-circle-question"></i>&nbsp;FAQ</div>
        </div>
        <div id="nav_right">
            <div>
                지식공유방
            </div>
        </div>
    </div>
</nav>
</html>