.cart-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 20px;
}

.cart-info {
    flex-grow: 1;
}

.cart-info h3 {
    font-size: 18px;
    margin: 0;
}

.cart-info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.cart-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.cart-actions {
    display: flex;
    align-items: center;
}

.cart-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    margin-left: 10px;
}

.delete-btn {
    color: red;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 18px;
}

.total-price {
    font-weight: bold;
    font-size: 20px;
}

.checkout-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0092ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #007acc;
}