.cart-container {
    width: 1400px;
    margin: auto;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 20px;
}

.cart-info {
    flex-grow: 1;
}

.cart-info h3 {
    font-size: 18px;
    margin: 0;
}

.cart-info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.cart-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.cart-actions {
    display: flex;
    align-items: center;
}

.cart-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    margin-left: 10px;
}

.delete-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 18px;
}

.total-price {
    font-weight: bold;
    font-size: 20px;
}

.checkout-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0092ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #007acc;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    background-color: #eee;
}

.checkbox input[type="checkbox"]:checked {
    background-color: #0092ff;
    border-color: #0092ff;
}

.checkbox input[type="checkbox"]::after {
    content: '';
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox input[type="checkbox"]:checked::after {
    display: block;
}

.cart-checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: #eee;
    margin-right: 10px;
}

.cart-checkbox:checked {
    background-color: #0092ff;
    border-color: #0092ff;
}

.cart-checkbox::after {
    content: '';
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.cart-checkbox:checked::after {
    display: block;
}