<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chart-container {
            text-align: center;
            width: 100%;
        }
        #dailyChart{
            margin-bottom: 50px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 8px 4px 8px 4px rgb(204, 204, 204);
        }
        .chart-row {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 100px;
        }
        .age, .gender {
            width: 45%;
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 8px 4px 8px 4px rgb(204, 204, 204);
        }
        .divider{
            width: 2px;
            height: 400px;
        }
    </style>
</head>
<body>
<!-- aside (사용 버전) -->
<th:block layout:fragment="aside">
    <!--<aside> 태그는 *꼭* 남겨두시고 안에서 작업하시면 됩니다 // 절대 지우시면 안돼요-->
    <aside>
        <h1><a th:href="@{/admin/chartView}">통계조회</a></h1><br>
        <h1><a th:href="@{/admin/classView}">강의검토</a></h1><br>
        <h1><a th:href="@{/admin/userView}">사용자 목록</a></h1><br>
    </aside>
</th:block>

<!-- content -->
<div layout:fragment="content" class="chart-container">
    <h2>일별 가입자 수</h2>
    <canvas id="dailyChart" width="1100" height="400"></canvas><hr>
    <div class="chart-row">
        <div class="age">
            <h2>나이별</h2>
            <canvas id="ageGroupChart" width="500" height="400"></canvas>
        </div>
        <div class="divider"></div>
        <div class="gender">
            <H2>성별</H2>
            <canvas id="genderChart" width="500" height="400"></canvas>
        </div>
    </div>

</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script>
        axios.get('/admin-api/daily')
            .then(response => {
                const data = response.data;
                const dates = data.map(item => item.date);
                const counts = data.map(item => item.count);

                new Chart(document.getElementById("dailyChart"), {
                    type: 'bar',
                    data: {
                        labels: dates,
                        datasets: [{
                            label: '일별 가입자 수',
                            data: counts,
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                ticks: {
                                    stepSize: 1
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                align: 'center',
                                labels: {
                                    boxWidth: 20,
                                    padding: 20,
                                    font: {
                                        size: 20
                                    }
                                }
                            }
                        },
                        layout: {
                            padding: {
                                left: 20,
                                right: 50
                            }
                        }
                    }
                });
            })

        axios.get('/admin-api/age-group')
            .then(response => {
                const data = response.data;
                const labels = data.map(item => item.ageGroup);
                const counts = data.map(item => item.count);

                new Chart(document.getElementById("ageGroupChart"), {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: counts,
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: true,
                                position: 'right',
                                align: 'center',
                                labels: {
                                    boxWidth: 20,
                                    padding: 20,
                                    font: {
                                        size: 20
                                    }
                                }
                            }
                        },
                        layout: {
                            padding: {
                                left: 20,
                                right: 50
                            }
                        }
                    }
                });
            })

        axios.get('/admin-api/gender')
            .then(response => {
                const data = response.data;
                const labels = data.map(item => item.gender === 'M' ? '남성' : '여성');
                const counts = data.map(item => item.count);

                new Chart(document.getElementById("genderChart"), {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: counts
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: true,
                                position: 'right',
                                align: 'center',
                                labels: {
                                    boxWidth: 20,
                                    padding: 20,
                                    font: {
                                        size: 20
                                    }
                                }
                            }
                        },
                        layout: {
                            padding: {
                                left: 20,
                                right: 50
                            }
                        }
                    }
                });
            })
    </script>
</div>
</html>