<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>강의 검토</title>
    <link rel="stylesheet" href="/css/joontaek/makeClassFirst.css">
</head>
<body>
<th:block layout:fragment="aside"></th:block>

<div layout:fragment="content" class="content-container">
    <div class="form-container">
        <h2>강의 검토</h2>

        <form>
            <div class="input-group">
                <label for="classTitle">강의 제목</label>
                <input type="text" id="classTitle" name="classTitle" th:value="${classInfo.classTitle}" readonly>
            </div>

            <div class="input-group">
                <label for="description">강의 설명</label>
                <textarea id="description" name="description" readonly>[[${classInfo.description}]]</textarea>
            </div>

            <div class="input-group">
                <label for="classCategory">카테고리</label>
                <input type="text" id="classCategory" name="classCategory" th:value="${classInfo.classCategory}" readonly>
            </div>

            <div class="input-group">
                <label for="classRecom">이런분에게 추천해요!</label>
                <textarea id="classRecom" name="classRecom" readonly>[[${classInfo.classRecom}]]</textarea>
            </div>

            <div class="input-group">
                <label for="classLevel">강의 수준</label>
                <input type="text" id="classLevel" name="classLevel" th:value="${classInfo.classLevel}" readonly>
            </div>

            <div class="input-group">
                <label for="classPrice">강의 가격</label>
                <input type="text" id="classPrice" name="classPrice" th:value="${classInfo.classPrice}" readonly>
            </div>

            <div class="input-group">
                <label>썸네일 이미지</label>
                <div class="image-preview">
                    <img th:src="@{${classInfo.fileUrl}}" alt="강의 썸네일">
                </div>
            </div>
        </form>
        <div>
            <form action="/view/permitClass/secondPermit" method="get">
                <input type="hidden" name="classId" th:value="${classInfo.classId}">
                <input type="submit" value="다음">
            </form>
        </div>
    </div>
</div>
</body>
</html>
