<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Page with Aside</title>
</head>
<body>
<!-- aside (사용 버전) -->
<th:block layout:fragment="aside">
    <!--<aside> 태그는 *꼭* 남겨두시고 안에서 작업하시면 됩니다 // 절대 지우시면 안돼요-->
    <aside>
        <h1><a th:href="@{/admin/chart}">통계조회</a></h1><br>
        <h1><a th:href="@{/admin/class}">강의검토</a></h1><br>
        <h1><a th:href="@{/admin/user}">사용자 목록</a></h1><br>
    </aside>
</th:block>

<!-- content -->
<div layout:fragment="content">
    <h1>사용자 목록</h1>
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script>
        <!--스크립트 여기 안에서 작성하시면 돼요~-->
    </script>
</div>
</html>
