<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>User View</title>
    <style>
        .user-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-size: 16px;
            text-align: center;
            border-radius: 15px;
        }

        .user-table thead {
            background-color: #0092ff;
            color: #ffffff;
        }

        .user-table th, .user-table td {
            padding: 12px 20px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
<!-- aside (사용 버전) -->
<th:block layout:fragment="aside">
    <!--<aside> 태그는 *꼭* 남겨두시고 안에서 작업하시면 됩니다 // 절대 지우시면 안돼요-->
    <aside>
        <h1><a th:href="@{/admin/chartView}">통계조회</a></h1><br>
        <h1><a th:href="@{/admin/classView}">강의검토</a></h1><br>
        <h1><a th:href="@{/admin/userView}">사용자 목록</a></h1><br>
    </aside>
</th:block>

<!-- content -->
<div layout:fragment="content">
    <h1>사용자 목록</h1><Br>
    <table border="1" class="user-table">
        <thead>
        <tr>
            <th>이름</th>
            <th>사용자아이디</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>생년월일</th>
            <th>성별</th>
            <th>계정 생성일시</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${user}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.userId}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.birth}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.createdAt}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>

<!--이거밖에서 스크립트 작성하면 안돌아갑니다...-->
<div layout:fragment="scripts">
    <script>
        <!--스크립트 여기 안에서 작성하시면 돼요~-->
    </script>
</div>
</html>
