<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대시보드</title>
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <link rel="stylesheet" href="/css/joontaek/classManagement.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script> <!-- date-fns만 사용 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<!-- Header -->
<div th:replace="~{/layout/fragments/header :: header}"></div>

<!-- Nav -->
<div th:replace="~{/layout/fragments/nav :: nav}"></div>

<!-- 대시보드 배경 -->
<div class="dashboard-header">
    <h2>강의 관리</h2>
</div>

<!-- Aside (사이드바) -->
<aside>
    <p>대시보드</p>
    <ul>
        <li><a href="/view/class/main"><b>대시보드</b></a></li>
    </ul>
    <p>새 강의 만들기</p>
    <ul>
        <li><a href="/view/makeClass/first"><b>새 강의 만들기</b></a></li>
    </ul>
    <p>강의 관리</p>
    <ul>
        <li><a href="/view/class/classManagement"><b>강의 관리</b></a></li>
        <li><a href="#"><b>수강평 조회</b></a></li>
    </ul>
</aside>

<!-- Main Content -->
<div class="dashboard-container">

    <div class="class-management-container">

        <div class="class-table">
            <table>
                <thead>
                <tr>
                    <th>이미지</th>
                    <th>강의명</th>
                    <th>평점</th>
                    <th>총 수강생</th>
                    <th>총 수입</th>
                    <th>상태</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody id="classTableBody">
                <tr th:each="class : ${cm}">
                    <td>
                        <img th:src="${class.thumbnail}" alt="썸네일" width="80" height="80">
                    </td>
                    <td th:text="${class.classTitle}"></td>
                    <td th:text="${class.rating}"></td>
                    <td th:text="${class.allCntStudent}"></td>
                    <td th:text="${class.allRevenue}"></td>
                    <td th:text="${class.classPermit}"></td>
                    <td>
                        <button>수정버튼구현중^^</button>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{/layout/fragments/footer :: footer}"></div>


<script>



</script>
</body>
</html>
